body{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgba(152, 240, 240, 0.24);
     font-family: 'Ubuntu', sans-serif;
}
.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
     width: 70%;
}

.playerCard{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     height: 40px;
     padding: 10px 0.5%;
     width: 100%;
     margin: 3px;
     box-shadow: 2px 2px 4px grey;
     opacity: 10%;
     transition: 0.3s ease-in;
}

.opacityClass{
     opacity: 100%;
}

.deletebutton{
     background: url(deletebtn.svg) no-repeat;
     background-size: contain;
     background-position: center;
}
.plussbutton{
     background: url(plusbtn.svg) no-repeat;
     background-size: contain;
     background-position: center;
}
.minusbutton{
     background: url(minusbtn.svg) no-repeat;
     background-size: contain;
     background-position: center;
}

.plussbutton, .minusbutton, .deletebutton{
     border: none;
     width: 10%;
     height: 100%;
     padding: none;
}

input{     
     height: 100%;
     border: none;
     border-radius: 10px;
     padding: 0;
     text-align: center;
     font-size: large;
}

.playerNameInput{
     width: 35%;
}
.playerNameInput::placeholder{
     width: 100%;
     font-size: 0.9em;
}
.nameSpan{
     width: 35%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: 1.3em;
     font-weight: 400;
}
.scoreText{
     text-align: center;
     width: 10%;
     font-size: 2em;
     font-weight: 400;
}
.moreLessPointsBtn{
     width: 14%;
     border-radius: 10px;
     margin: 3px;
     font-size: 1.5em;
     font-family: 'Ubuntu', sans-serif;
}
.moreLessPointsBtn::placeholder{
     width: 100%;
     font-size: 0.4em;
     font-family: 'Ubuntu', sans-serif;
}

#reset{
     padding: 20px;
     border:none;
     width: 30px;
     height: 30px;
     background: url(restart.svg) no-repeat;
     background-size: contain;
     background-position: center;
}
.functions{
     padding-top: 20px;
     width: 500px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
}
#addPlayer{
     padding: 20px;
     border:none;
     width: 30px;
     height: 30px;
     background: url(addplayer.svg) no-repeat;
     background-size: contain;
     background-position: center; 
}


@media (max-width: 700px) {
   .scoreText{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     font-size: 1.2em;
}
  .container{
       width: 100%;
  }
  .functions{
       width: 100%;
  }
  .moreLessPointsBtn{
       width: 8%;
  }
  .forDelete{
       width: 84%;
  }
}
